src/main/webapp/WEB-INF/wsdl/CustomerOrders.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wait.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerOrdersService" targetNamespace="http://wait.com/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://wait.com/" elementFormDefault="unqualified"
    targetNamespace="http://wait.com/" version="1.0">

	<xs:complexType name="order">
		<xs:sequence>
			<xs:element name="id" type="xs:integer" />
			<xs:element maxOccurs="unbounded" name="product" type="tns:product" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="product">
		<xs:sequence>
			<xs:element minOccurs="0" name="id" type="xs:string" />
			<xs:element minOccurs="0" name="description" type="xs:string" />
			<xs:element minOccurs="0" name="quantity" type="xs:integer" />
		</xs:sequence>
	</xs:complexType>
    
    <xs:complexType name ="getOrdersRequest">
    <xs:sequence>
    <xs:element minOccurs="0" name="customerId" type="xs:integer"/>
    </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="getOrdersResponse">
    <xs:sequence>
    <xs:element minOccurs="0" name="order" maxOccurs="unbounded" type="tns:order"/>
    </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="createOrdersRequest">
    <xs:sequence>
    <xs:element name="customerId" type="xs:integer"/>
    <xs:element name="order" type="tns:order"/>
    </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="createOrdersResponse">
    <xs:sequence>
    <xs:element name="result" type="xs:boolean"/>
    </xs:sequence>
    </xs:complexType>
    
    <xs:element name="getOrdersRequest" type="tns:getOrdersRequest"/>
    <xs:element name="getOrdersResponse" type="tns:getOrdersResponse"/>
    <xs:element name="createOrdersRequest" type="tns:createOrdersRequest"/>
    <xs:element name="createOrdersResponse" type="tns:createOrdersResponse"/>
    </xs:schema>
   
   </wsdl:types>
   
   <wsdl:message name="getOrdersRequest">
   <wsdl:part name="parameters" element="tns:getOrdersRequest"></wsdl:part>
   </wsdl:message>
   
   <wsdl:message name="getOrdersResponse">
   <wsdl:part name="parameters" element="tns:getOrdersResponse"></wsdl:part>
   </wsdl:message>
   
   <wsdl:message name="createOrdersResponse">
   <wsdl:part name="parameters" element="tns:createOrdersResponse"></wsdl:part>
   </wsdl:message>
   
   <wsdl:message name="createOrdersRequest">
   <wsdl:part name="parameters" element="tns:createOrdersRequest"></wsdl:part>
   </wsdl:message>
   
   <wsdl:portType name="CustomerOrdersPortType">
   <wsdl:operation name="getOrders">
   <wsdl:input message="tns:getOrdersRequest" name="getOrdersRequest"></wsdl:input>
   <wsdl:output message="tns:getOrdersResponse" name="getOrdersResponse"></wsdl:output>
   </wsdl:operation>
   
   <wsdl:operation name="createOrders">
   <wsdl:input message="tns:createOrdersRequest" name="createOrdersRequest"></wsdl:input>
   <wsdl:output message="tns:createOrdersResponse" name="createOrdersResponse"></wsdl:output>
   </wsdl:operation>
   </wsdl:portType>
   
   <wsdl:binding name="CustomerOrdersServiceSoapBinding" type="tns:CustomerOrdersPortType">
   <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
   <wsdl:operation name="getOrders">
   <soap:operation soapAction="" style="document"/>
   <wsdl:input name="getOrdersRequest">
   <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output name="getOrdersResponse">
   <soap:body use="literal"/>
   </wsdl:output>
   </wsdl:operation>
   <wsdl:operation name="createOrders">
   <soap:operation soapAction="" style="document"/>
   <wsdl:input name="createOrdersRequest">
   <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output name="createOrdersResponse">
   <soap:body use="literal"/>
   </wsdl:output>
   </wsdl:operation>
   </wsdl:binding>
   
   <wsdl:service name="CustomerOrdersService">
   <wsdl:port name="CustomerOrdersPort" binding="tns:CustomerOrdersServiceSoapBinding">
   <soap:address location="http://localhost:8080/wsdl-first-ws/services/customerOrdersService"/>
   </wsdl:port>
  
   </wsdl:service>
</wsdl:definitions>
